.babyForm {
    align-items: center;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.addBabyButton {
    background-color: lightskyblue;
    color: royalblue;
    border-radius: 10%;
    height: 50px;
    width: 100px;
    margin: 10px;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nameInput {
    width: 60%;
    height: 7%;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 10px;
}

.form {
    background-image: url(https://webstockreview.net/images/clipart-brain-baby-10.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 600px;
    margin: 0;
}

.space {
    margin-top: 100px;
}

.babiesLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: royalblue;
}