.babyForm {
    align-items: center;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.addBabyButton {
    background-color: rgb(39, 102, 197);
    color: whitesmoke;
    border-radius: 10%;
    height: 50px;
    width: 100px;
    margin: 10px;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nameInput {
    border-style: outset;
    width: 60%;
    height: 4%;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    background-image: url(https://cdn.clipart.email/50f5b79b433dbc87ef8f2735a6ded6e6_28-collection-of-baby-items-clipart-png-high-quality-free-_972-758.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 600px;
    margin: 0;
}
.space {
    margin-top: 100px;
}

.babiesLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue; 
}