.eventForm {
    background-image: url(https://cdn.dribbble.com/users/20442/screenshots/4466134/dribbble_shots-02.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-style: dashed;
    border-color: lightseagreen;
    border-radius: 5%;
    align-items: center;
    width: 350px;
    height: 350px;
    margin-right: 0px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.eventInput {
    box-sizing: border-box;
    border-width: 1px;
    border-color: lightgray;
    border-image: none;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 59%;
    height: 7%;
    margin: 17px;
    text-indent: 10px;
}

.addEventButton {
    background-color: lightskyblue;
    color: royalblue;
}

.formEvent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}

.eventsLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: royalblue;
}

.showEvents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.allEvents {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 25px;
}
